{% extends 'navbar.html'%}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <form method="post">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Select Drivers and type of Analisys</h1>
        </div>
        <div class="row">
            <div class="col">
                <select class="form-control" id="FirstDriver" name="FirstDriver" required>
                    <option value="" selected disabled>First Driver Number</option>
                    {% for driver in drivers %}
                    <option value={{driver}}>{{driver}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select class="form-control" id="SecondDriver" name="SecondDriver" required>
                    <option value="" selected disabled>Second Driver Number</option>
                    {% for driver in drivers %}
                    <option value={{driver}}>{{driver}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select onchange="newForm()" class="form-control" id="Type" name="Type">
                    <option value="Telemetry" selected>Telemetry</option>
                    <option value="Race">Race pace</option>
                </select>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary mb-3">Search</button>
            </div>
            <div id="select" class="row row-cols-4"></div>
        </div>
    </form>

    <script> var position = 0; </script>

    {% block data %} {% endblock %}

    <h2>Session Result - {{session_name}} - {{session_type}}</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <!--<img class="card-img background" src={{ url_for('static', filename='background/Baharein.jpeg') }}>-->
            {% if session_type == 'Race' %}
            <thead>
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Fastest Lap</th>
                    <th scope="col">Grid Slot</th>
                    <th scope="col">Team</th>
                    <th scope="col">Points</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in result %}
                <tr>
                    <td>
                        <script>
                            position = position + 1;
                            document.write(position);
                        </script>
                    </td>
                    <td>{{item[7]}}</td>
                    <td>{{item[13]}}</td>
                    <td>{{item[9]}}</td>
                    <td>{{item[3]}}</td>
                    <td>{{item[15]}}</td>
                    <td><img class="img-fluid" height="35" width="35" src={{ url_for('static',
                        filename='asset/team_logo/' + item[3] + '.png' ) }}></td>
                </tr>
                {% endfor %}
            </tbody>
            {% elif session_type == 'Qualifying' %}
            <thead>
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Q1</th>
                    <th scope="col">Q2</th>
                    <th scope="col">Q3</th>
                    <th scope="col">Team</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in result %}
                <tr>
                    <td>
                        <script>
                            position = position + 1;
                            document.write(position);
                        </script>
                    </td>
                    <td>{{item[7]}}</td>
                    <td>{{item[10]}}</td>
                    <td>{{item[11]}}</td>
                    <td>{{item[12]}}</td>
                    <td>{{item[3]}}</td>
                    <td><img class="img-fluid" height="35" width="35" src={{ url_for('static',
                        filename='asset/team_logo/' + item[3] + '.png' ) }}></td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <thead>
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Fastest Lap</th>
                    <th scope="col">Team</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in result|sort(attribute='13') %}
                <tr>
                    <td>
                        <script>
                            position = position + 1;
                            document.write(position);
                        </script>
                    </td>
                    <td>{{item[7]}}</td>
                    <td>{{item[13]}}</td>
                    <td>{{item[3]}}</td>
                    <td><img class="img-fluid" height="35" width="35" src={{ url_for('static',
                        filename='asset/team_logo/' + item[3] + '.png' ) }}></td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
</main>
</div>
</div>
{% endblock %}