{% extends 'navbar.html'%}
{% block content %}

<main class="mt-5 ms-sm-auto px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Season Calendar - {{ year }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
      </div>
      <!--<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>-->
    </div>
  </div>

  <ol class="list-group list-group-numbered">
    {% for item in session %}
    <li class="list-group-item justify-content-between align-items-start d-flex">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{item[3]}}</div>
        {{item[1]}} &#x2022; {{item[5]}}
      </div>
      <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target=#collapse{{item[5]}}
        aria-expanded="false" aria-controls=collapse{{item[5]}}>
        {% if today > item[4] %}
        <span class="badge bg-primary rounded-pill">concluso</span>
        <!--<span class="badge bg-success rounded-pill">in corso</span>-->
        {% else %}
        <span class="badge bg-danger rounded-pill">da disputare</span>
        {% endif %}
      </button>
      <div class="collapse" id=collapse{{item[5]}}>
        <div class="input-group mb-3">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Choose
            Session</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href='{{item[0]}}\{{item[7]}}'>{{item[7]}}</a></li>
            <li><a class="dropdown-item" href='{{item[0]}}\{{item[10]}}'>{{item[10]}}</a></li>
            <li><a class="dropdown-item" href='{{item[0]}}\{{item[13]}}'>{{item[13]}}</a></li>
            <li><a class="dropdown-item" href={{item[0]}}\{{item[16]}}>{{item[16]}}</a></li>
            <li><a class="dropdown-item" href={{item[0]}}\{{item[19]}}>{{item[19]}}</a></li>
          </ul>
        </div>
      </div>
    </li>
    {% endfor %}
  </ol>

  <div class="container mt-5">
    <div class="row">
      <!-- Driver Standings -->
      <div class="col-md-6">
        <h2 class="mb-4 text-center">Driver Standings</h2>
        <div class="table-responsive">
            <table class="table text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Position</th>
                        <th>Driver</th>
                        <th>Points</th>
                        <th>Wins</th>
                        <th>Team</th>
                    </tr>
                </thead>
                <tbody>
                    {% for driver in driver_Standings %}
                    <tr>
                        <td>{{driver['position']}}</td>
                        <td>{{driver['Driver']['givenName']}} {{driver['Driver']['familyName']}}</td>
                        <td>{{driver['points']}}</td>
                        <td>{{driver['wins']}}</td>
                        <td>
                          <img class="img-fluid" height="30" width="30" 
                              src="{{ url_for('static', filename='asset/team_logo/' + driver['Constructors'][0]['name'] + '.png' ) }}">
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>

        <!-- Constructor Standings -->
        <div class="col-md-6">
            <h2 class="mb-4 text-center">Constructor Standings</h2>
            <div class="table-responsive">
                <table class="table text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>Position</th>
                            <th>Constructor</th>
                            <th>Points</th>
                            <th>Wins</th>
                            <th>Logo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for constructor in constructor_Standings %}
                        <tr>
                            <td>{{constructor['position']}}</td>
                            <td>{{constructor['Constructor']['name']}}</td>
                            <td>{{constructor['points']}}</td>
                            <td>{{constructor['wins']}}</td>
                            <td>
                                <img class="img-fluid" height="30" width="30" 
                                     src="{{ url_for('static', filename='asset/team_logo/' + constructor['Constructor']['name'] + '.png' ) }}">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
  </div>
</main>

{% endblock %}