{% extends 'navbar.html'%}
{% block content %}
<main class=" ms-sm-auto mt-5 px-md-4">
    <div class="container mt-5">
    <!-- Session Results -->
        <h2 class="mb-4 text-center pt-3 pb-2">Session Result - {{session_name}} - {{session_type}}</h2>
        <div class="table-responsive">
            <table class="table text-center">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Driver</th>
                        <th scope="col">Q1</th>
                        <th scope="col">Q2</th>
                        <th scope="col">Q3</th>
                        <th scope="col">Team</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in result %}
                    <tr>
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                        <td>{{item[3]}}</td>
                        <td>{{item[4]}}</td>
                        <td>{{item[5]}}</td>
                        <td>{{item[2]}}</td>
                        <td><img class="img-fluid" height="35" width="35" src={{ url_for('static',
                            filename='asset/team_logo/' + item[2] + '.png' ) }}></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% block data %} {% endblock %}

    {% block lapsTable %} {% endblock %}
</main>

{% endblock %}